GATEWAY_SERVER_NAME=example.com
GATEWAY_CERTBOT_EMAIL=admin@example.com
GATEWAY_UPSTREAM=aerowatch-orchestrator:40008
GATEWAY_SSL_CERTIFICATE=/etc/letsencrypt/live/example.com/fullchain.pem
GATEWAY_SSL_CERTIFICATE_KEY=/etc/letsencrypt/live/example.com/privkey.pem
GATEWAY_CLIENT_MAX_BODY_SIZE=20m
